@charset "utf-8";
body{
	font: 24px 微软雅黑,Arial, Helvetica, sans-serif;
	background: url(../img/signup.jpg) no-repeat;
}
label{
	font-weight: normal;
	font-size: 20px;
}
hr{
	width: 100%;
	margin-right: 0;
}
h4{
	text-align: right;
}
form{
	clear: both;
}
form span{
	margin-left: 20px;
	margin-top: 16px;
	float: left;
}
button{
	float: left;
}
a{
	color: #33c;
}
img{
	float: left;
}
#middle-page{
	background: rgba(91,192,222,.8);
	width: 400px;
	height: 500px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 3px 3px 5px #333;
}
#top-bar{
	height: 10%;
	margin-bottom: 20px;
	clear: both;
}
.form-control{
	margin: 10px auto;
}
#submit{
	margin-top:10px;
}
#right-tem{
	width: 60%;
	margin-right: 0;
	float: right;
}



